@model Kuku12.Models.NationalityCuisine
@{
    ViewBag.Title = Model.NationalityCuisineName;
}
<h2>Product type @Model.NationalityCuisineName</h2>
<div>
    <dl class="dl-horizontal">
        <dt>id: </dt>
        <dd>@Model.NationalityCuisineId</dd>
        <dt>name: </dt>
        <dd>@Model.NationalityCuisineName</dd>
    </dl>
</div>