body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.top-filter-product .card-title,
.filter-product .card-title {
    padding: 6px 0px 6px 0px;
    font-weight: bold;
    font-size: 12px;
}

    .filter-product .card-title.btn {
        width: 100%;
        overflow: hidden;
        padding: 6px 6px 6px 0px;
        text-overflow: ellipsis;
        text-align: left;
        position: relative;
    }

        .filter-product .card-title.btn .caret {
            position: absolute;
            right: 2px;
            top: 12px;
        }



.collapsing {
    display: block;
    min-height: 75px;
    height: 0;
    overflow: hidden;
    position: relative;
}

    .collapsing.in {
        height: auto;
    }

    .collapsing.maxHeight-1 {
        min-height: 25px;
    }

    .collapsing.maxHeight-2 {
        min-height: 50px;
    }

    .collapsing.maxHeight-3 {
        min-height: 75px;
    }

    .collapsing.maxHeight-4 {
        min-height: 100px;
    }



.card.top-filter-product > .list-group .list-group-item,
.card.filter-product > .collapsing > .list-group .list-group-item {
    border-width: 0;
    padding: 3px 25px 3px 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

    .card.top-filter-product > .list-group .list-group-item .badge,
    .card.filter-product > .collapsing > .list-group .list-group-item .badge {
        position: absolute;
        top: 4px;
        right: 4px;
        font-weight: normal;
    }

.container-fluid {
    min-width: 960px !important;
    max-width: 1170px !important;
    margin:auto;
}
