<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.klas').click(function () {
                var klasID = "";
                $('.klas').each(function () {
                    if ($(this).is(':checked')) {
                        klasID += $(this).val() + ",";
                    }
                });
                var data = {};
                data.klasId = klasID.slice(0, klasID.length - 1);
                $.ajax({
                    url: 'CS.aspx/GetList',
                    method: 'POST',
                    dataType: "json",
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        var customers = JSON.parse(response.d);
                        var table = $("#tblCustomers");
                        table.find("tr:not(:first)").remove();
                        $.each(customers, function (i, customer) {
                            var row = table[0].insertRow(-1);
                            $(row).append("<td />");
                            $(row).find("td").eq(0).html(customer.CustomerId);
                            $(row).append("<td />");
                            $(row).find("td").eq(1).html(customer.Name);
                            $(row).append("<td />");
                            $(row).find("td").eq(2).html(customer.Country);
                        });
                    },
                    error: function (err, response) {
                        console.log(err, response);
                        alert(err, response.responseText);
                    }
                })
            });
        });
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <table>
                <tr>
                    <td>
                        <input class="klas" id="Checkbox1" type="checkbox" value="1" name="KlasID" />Economy
                    </td>
                    <td>
                        <input class="klas" id="Checkbox2" type="checkbox" value="2" name="KlasID" />Business
                    </td>
                </tr>
            </table>
        </div>
        <table id="tblCustomers">
            <tr>
                <th>
                    Customer Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Country
                </th>
            </tr>
        </table>
    </form>
</body>
</html>