@model IEnumerable<Kuku.Models.OriginalImage>

@{
    ViewBag.Title = "Добавление картинки";
}
<form asp-action="AddImg" asp-controller="Home" method="post" enctype="multipart/form-data">
    <p>
        <label>Имя</label>
        <input name="FileName" class="form-control" />
    </p>

    <p>
        <label>Картинка</label>
        <input name="OriginalImageData" type="file" class="form-control" />
    </p>
    <p>
        <input type="submit" value="Добавить" />
    </p>
</form>
<h3>Все картинки</h3>
@foreach (var p in Model)
{
    <div>
        <h4>@p.FileName</h4>
        @if (p.OriginalImageData != null)
        {
            <img style='width:320px; height:240px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(p.OriginalImageData))" />
        }
    </div>
}