@model Kuku.Models.Product
@{
    ViewData["Title"] = "Add Product";
}
@using (Html.BeginForm())
{
<fieldset>
    <legend>Product</legend>

    <p>
        Product type <br />
        @Html.DropDownListFor(model => model.ProductTypeId, ViewBag.ProductTypes as SelectList)
    </p>

    <form asp-action="CreateProductType" asp-controller="Home">
        <div class="form-group">
            <label asp-for="ProductName" class="control-label">Name</label>
            <input type="text" asp-for="ProductName" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Send" class="btn btn-default" />
        </div>
    </form>

    <h2>Create Product Type</h2>

</fieldset>
}
<div>
    @Html.ActionLink("For products list", "Product")
</div>